<html>
<body>
	<form method="post" action="/ViewTaskBoard">
	<input type="text" style="font-size:25; text-align:center;" value="{{taskboard.name}}" name="changename"/><br/><br/>

	<!-- things to use later if needed-->
	<input type='hidden' value="{{taskboard_key}}"/>

	<table align=right style="margin-right: 50px;"><tr><td style="text-align:center"><h3>Owner:</h3></td> <td style="text-align:center"><h3>{{taskboard.owner.get().email_a}}</h3></td></td></tr></table>


		<input type="hidden" value="{{taskboard_key}}" name="taskboard_key"/>
		<input type="submit" value="Add Task" name="action"/>
		<input type="submit" value="Edit board" name="action"/>
		<input type="submit" value="Back" name="action"/>
	</form>

	Total tasks: {{count_activetasks + count_completedtasks}}<br/>
	Active tasks: {{count_activetasks}}<br/>
	Completed tasks: {{count_completedtasks}}<br/>
	Completed today: {{count_completed_today}}<br/><br/>

	{% if taskboard.owner.get().email_a == user.email() %}
	{% if users_keys %}
		Invite users to this taskboard
		<form method="post" action="/ViewTaskBoard">
			<input type="hidden" value="{{taskboard_key}}" name="taskboard_key"/>
				<select name="user_keys_select">
					<option value="chooseamemberuser">Choose a member user</option>
					{%for _user in users_keys%}
						<option value="{{_user.email_a}}">{{_user.email_a}}</option>
					{%endfor%}
				</select>
				<input type="submit" value="Invite" name="action"/><br/>
				<input type="submit" name="action" value="View and modify users"/>
		</form>
	{% else %}
	No users to invite
	{% endif %}
	{% else %}
	<i>Login as owner to invite users to this board</i>
	{% endif %}

	<h3>Tasks</h3>
	{% if tasks %}
	<table style="width:150;">
	<tr>
	{% for task in tasks %}
	{% if task %}
		<td>
			{% if task.assignee and task.assignee.get().email_a %}
			<table style="margin:10px;" border=1>
			{% else %}
			<table style="margin:10px;" border=1 bgcolor="#FF6666">
			{% endif %}
				<tr><td align=center><b>{{task.title}}</b></td></tr>
				<tr><td align=center>{{task.duedate}}</td></tr>
				<tr><td align=center>
					<form method='post' id="f" action='/ViewTaskBoard'>
						<input type="hidden" value="{{taskboard_key}}" name="taskboard_key"/>
						<input type="hidden" value="{{tasks_keys[loop.index-1]}}" name="task_key"/>
						{% if task.isCompleted == True %}
							Finished: <input type="checkbox" checked name='checkcompletion' onchange="this.form.submit()"/>
							Completed on {{task.completionDateTime}}
						{% else %}
							Click to complete: <input type="checkbox" name='checkcompletion' onchange="this.form.submit()"/>
						{% endif %}
					</form>
				</td></tr>
				{% if task.assignee and task.assignee.get().email_a %}
					<tr><td align=center>Assigned to: {{task.assignee.get().email_a}}</td></tr>
				{% else %}
					<tr><td align=center>Not assigned</td></tr>
				{% endif %}
				<!-- <tr><td align=center><a href="">Add/Modify assignee</a></td></tr> -->
				<tr><td align=center>
					<form method='post' id="f" action='/ViewTaskBoard'>
						<input type="hidden" value="{{taskboard_key}}" name="taskboard_key"/>
						<input type="hidden" value="{{tasks_keys[loop.index-1]}}" name="task_key"/>
						<input type='submit' value='Edit task' name='action'/><input type='submit' value='Delete task' name='action'/>
					</form>
				</td></tr>
			</table>
		</td>
	{% endif %}
	{% endfor %}
	</tr>
	</table>
	{% endif %}
</body>
</html>
