<html>
<body>
	<h2>{{taskboard.name}}</h2>

	<!-- things to use later if needed-->
	<input type='hidden' value="{{taskboard_key}}"/>

	<table align=right style="padding-right: 50px;"><tr><td style="text-align:center"><h3>Owner:</h3></td> <td style="text-align:center"><h3>{{taskboard.owner.get().email_a}}</h3></td></td></tr></table>

	<form method="post" action="/ViewTaskBoard">
		<input type="hidden" value="{{taskboard_key}}" name="taskboard_key"/>
		<input type="submit" value="Add Task" name="action"/>
	</form>

	{% if taskboard.owner.get().email_a == user.email() %}
		Invite users to this taskboard
		<form method="post" action="/ViewTaskBoard">
			<input type="hidden" value="{{taskboard_key}}" name="taskboard_key"/>
				<select name="user_keys_select">
					{%for key in users_keys%}
						<option value="{{key.email_a}}">{{key.email_a}}</option>
					{%endfor%}
				</select>
				<input type="submit" value="Invite" name="action"/>
		</form>
	{% else %}
	<i>Login as owner to invite users to this board</i>
	{% endif %}

	<h3>Tasks</h3>
	{% if tasks %}
	<table style="width:150;">
	<tr>
	{% for task in tasks %}
		<td>
			<table>
				<tr><td>{{task.title}}</td></tr>
				<tr><td>{{task.duedate}}</td></tr>
				<tr><td>{{task.isCompleted}}</td></tr>
				{% if task.assignee.get().email_a %}
				<tr><td>Assigned to: {{task.assignee.get().email_a}}</td></tr>
				{% else %}
				<tr><td>Not assigned</td></tr>
				{% endif %}
				<tr><td><a href="">Add/Modify assignee</a></td></tr>
			</table>
		</td>
	{% endfor %}
	</tr>
	</table>
	{% endif %}
</body>
</html>
